<?xml version="1.0"?>
<ruleset name="RAN Video Cover">
	<description>WordPress Coding Standards and PHP 8.0 compatibility checks.</description>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg value="ps"/>

	<config name="minimum_supported_wp_version" value="6.5"/>
	<config name="testVersion" value="8.0-"/>
	<config name="text_domain" value="ran-video-cover"/>

	<file>ran-video-cover.php</file>
	<file>includes</file>
	<file>blocks</file>
	<file>scripts</file>
	<file>tests</file>

	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibility"/>
</ruleset>
